

/* ====================================================================================================== */
/* LAST RESORT */
/* ------------------------------------------------------------------------------------------------------ */
@font-face
  font-family:            'cjk'
  src:                    url( './fonts/LastResort.ttf' )
  unicode-range: \
    U+02e80-02eff,        // CJK Radicals Supplement                 u-cjk-rad2
    U+02f00-02fdf,        // Kangxi Radicals                         u-cjk-rad1
    U+03000-0303f,        // CJK Symbols and Punctuation             u-cjk-sym
    U+031c0-031ef,        // CJK Strokes                             u-cjk-strk
    U+03200-032ff,        // Enclosed CJK Letters and Months         u-cjk-enclett
    U+03300-033ff,        // CJK Compatibility                       u-cjk-cmp
    U+03400-04dbf,        // CJK Unified Ideographs Extension A      u-cjk-xa
    U+04e00-09fff,        // CJK Unified Ideographs                  u-cjk
    U+0f900-0faff,        // CJK Compatibility Ideographs            u-cjk-cmpi1
    U+0fe30-0fe4f,        // CJK Compatibility Forms                 u-cjk-cmpf
    U+20000-2a6df,        // CJK Unified Ideographs Extension B      u-cjk-xb
    U+2a700-2b73f,        // CJK Unified Ideographs Extension C      u-cjk-xc
    U+2b740-2b81f,        // CJK Unified Ideographs Extension D      u-cjk-xd
    U+2f800-2fa1f         // CJK Compatibility Ideographs Supplement u-cjk-cmpi2


@font-face
  font-family:            'cjk'
  src:                    local( 'Sun-ExtA' )
  // src:                    url( './fonts/cjk/Sun-ExtA.ttf' )
  unicode-range: \
    U+02e80-02eff,        // CJK Radicals Supplement                 u-cjk-rad2
    U+02f00-02fdf,        // Kangxi Radicals                         u-cjk-rad1
    U+03000-0303f,        // CJK Symbols and Punctuation             u-cjk-sym
    U+031c0-031ef,        // CJK Strokes                             u-cjk-strk
    U+03200-032ff,        // Enclosed CJK Letters and Months         u-cjk-enclett
    U+03300-033ff,        // CJK Compatibility                       u-cjk-cmp
    U+03400-04dbf,        // CJK Unified Ideographs Extension A      u-cjk-xa
    U+04e00-09fff,        // CJK Unified Ideographs                  u-cjk
    U+0f900-0faff,        // CJK Compatibility Ideographs            u-cjk-cmpi1
    U+0fe30-0fe4f,        // CJK Compatibility Forms                 u-cjk-cmpf
    U+2f800-2fa1f         // CJK Compatibility Ideographs Supplement u-cjk-cmpi2

@font-face
  font-family:            'cjk'
  src:                    local( 'sunflower-u-cjk-xb' )
  // src:                    url( './fonts/cjk/Sun-ExtB.ttf' )
  // src:                    url( '/private/tmp/Untitled1.ttf' )
  // src:                    local( 'HanaMinB' )
  unicode-range: \
    U+20000-2a6df,        // CJK Unified Ideographs Extension B      u-cjk-xb
    U+2a700-2b73f         // CJK Unified Ideographs Extension C      u-cjk-xc

@font-face
  font-family:            'cjk'
  src:                    local( 'jizura3b' )
  unicode-range:          U+e000-f8ff

/* ------------------------------------------------------------------------------------------------------ */
@font-face
  font-family:            'mkts-babel'
  src:                    local( 'BabelStone Han' )

mkts-babel
  font-family:            'mkts-babel'

/* ------------------------------------------------------------------------------------------------------ */
@font-face
  font-family:            'mkts-hanaa'
  src:                    local( 'HanaMinA' )

mkts-hanaa
  font-family:            'mkts-hanaa'

/* ------------------------------------------------------------------------------------------------------ */
@font-face
  font-family:            'mkts-hanab'
  src:                    local( 'HanaMinB' )

mkts-hanab
  font-family:            'mkts-hanab'

/* ------------------------------------------------------------------------------------------------------ */
@font-face
  font-family:            'mkts-jzr'
  src:                    local( 'jizura3b' )

mkts-jzr
  font-family:            'mkts-jzr'

/* ------------------------------------------------------------------------------------------------------ */
@font-face
  font-family:            'mkts-sunxa'
  src:                    local( 'Sun-ExtA' )

mkts-sunxa
  font-family:            'mkts-sunxa'

/* ------------------------------------------------------------------------------------------------------ */
@font-face
  font-family:            'mkts-sunxb'
  src:                    local( 'sunflower-u-cjk-xb' )

mkts-sunxb
  font-family:            'mkts-sunxb'

/* ====================================================================================================== */
shift
  display:                inline
  position:               relative


