





/* ====================================================================================================== */
/* LATIN (EB Garamond) */
/* ------------------------------------------------------------------------------------------------------ */
/*
- EBGaramond-Initials: Initials
- EBGaramond-InitialsF1: Background (the ornament) of initials
- EBGaramond-InitialsF2: Foreground (the letter) of initials
- EBGaramond08-Italic: Italic font for design size 8pt (very rough spacing!)
- EBGaramond08-Regular: Regular font for design size 8pt
- EBGaramond12-AllSC: All smallcaps font for programs that ignore opentype features
- EBGaramond12-Bold: Bold font for design size 12pt (very rough/unusable; not included in releases)
- EBGaramond12-Italic: Italic font for design size 12pt
- EBGaramond12-Regular: Regular font for design size 12pt
- EBGaramond12-SC: Smallcaps font for programs that ignore opentype features (12pt)
*/
/* http://www.georgduffner.at/ebgaramond */

@font-face
    font-family:          'latin'
    src:                  url( './fonts/EBGaramond-0.016-web/EBGaramond12-Regular.ttf' )

@font-face
    font-family:          'latin'
    src:                  url( './fonts/EBGaramond-0.016-web/EBGaramond12-Italic.ttf' )
    font-style:           italic

/* pending:
    src:                  url( './fonts/EBGaramond-0.016-web/EBGaramond08-Italic.woff' )
    src:                  url( './fonts/EBGaramond-0.016-web/EBGaramond08-Regular.woff' )
    src:                  url( './fonts/EBGaramond-0.016-web/EBGaramond-Initials.woff' )
    src:                  url( './fonts/EBGaramond-0.016-web/EBGaramond-InitialsF1.woff' )
    src:                  url( './fonts/EBGaramond-0.016-web/EBGaramond-InitialsF2.woff' )
    src:                  url( './fonts/EBGaramond-0.016-web/EBGaramond12-AllSC.woff' )
    src:                  url( './fonts/EBGaramond-0.016-web/EBGaramondSC08-Regular.woff' )
    src:                  url( './fonts/EBGaramond-0.016-web/EBGaramondSC12-Regular.woff' )
*/


/* ====================================================================================================== */
/* LAST RESORT */
/* ------------------------------------------------------------------------------------------------------ */
@font-face
  font-family:            'lastresort'
  src:                    url( './fonts/LastResort.ttf' )
  font-weight:            normal
  font-style:             normal


/* ====================================================================================================== */
/* FONT TEST */
/* ------------------------------------------------------------------------------------------------------ */
@font-face
  font-family:                'spincycle-eot'
  src:                        url('./fonts/spincycle/spincycle_ot.eot')
  font-weight:                normal
  font-style:                 normal

@font-face
  font-family:                'spincycle-woff2'
  src:                        url('./fonts/spincycle/spincycle_ot.woff2')
  font-weight:                normal
  font-style:                 normal

@font-face
  font-family:                'spincycle-woff'
  src:                        url('./fonts/spincycle/spincycle_ot.woff')
  font-weight:                normal
  font-style:                 normal

@font-face
  font-family:                'spincycle-truetype'
  src:                        url('./fonts/spincycle/spincycle_ot.ttf')
  font-weight:                normal
  font-style:                 normal



































